<style>
        /* Universal Selector */
        *{
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font-family: cursive;
        }

        /* Nested Selector */
        ul  li{
            list-style: circle;
            color: magenta;
            background-color: #fff000;
        }

        /* Attribute Selector  */
        input::placeholder{
            color: red;
        }
</style>
