.sl{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(74,101,187,1) 68%, rgba(123,38,119,1) 100%, rgba(0,212,255,1) 100%);
    color: #fff;
}

.lbt{
    color: red;
    
}