 <style>
      .box {
        height: 500px;
        width: 400px;
        border: 2px solid red;
        display: inline-block;
        font-weight: 900;
        box-sizing: border-box;
        margin: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      #p1 {
        text-shadow: 2px 2px;
      }

      #p2 {
        text-shadow: 4px 4px red;
      }

      #p3 {
        text-shadow: -4px 4px yellow;
      }

      #p4 {
        text-shadow: 0px 0px 10px red;
      }

      #p5 {
        text-shadow: 4px -4px red;
      }

      #p6 {
        text-shadow: -4px -4px 4px red;
      }
</style>
